html, body {
    height: 100%;
}

body {
    margin: 0;
    min-width: 150px;
    background-color: #F1EFE2;
}
body, .normalFont {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-container {
    height: 100%;
    height: calc(100% - 42px - 3px);
}


div.progressBarFull {
    height: 3px;
    background-color: gray;
}

div.progressBarCurrent {
    height: 3px;
    background-color: cornflowerblue;
}

.topBar, .topBarMenu {
    background-color: #206BA4;
    color: white;
}

.topBarMenu {
    position: absolute;
    z-index: 10;
}

.topBar .topBarItem {
    padding: 6px;
    text-align: center;
    height: 30px;
    font-size: 14px;
}
.topBar a, .topBar a:visited {
    text-decoration: none;
    color: white;
}
.topBar .topBarButton {
    font-size: 24px;
}

#controlButton {
    width: 50px;
    float: right;
}
#controlButton:hover {
    cursor: pointer;
}

#pageSwitcher {
    width: 50px;
    float: left;
}
#pageSwitcher:hover {
    cursor: pointer;
}

.pageswitch-icon {
    transition-property: font-size, top, left, color;
    -webkit-transition-property: font-size, top, left, color;
    transition-duration: 1s;
    position: absolute;
}
.pageswitch-icon.next {
    font-size: 30px;
    top: 5px;
    left: 16px;
    z-index: 10;
}
.pageswitch-icon.next1 {
    font-size: 20px;
    top: 12px;
    left: 40px;
    z-index: 8;
    color: #708090;
}
.pageswitch-icon.next2 {
    font-size: 18px;
    top: 3px;
    left: 40px;
    z-index: 6;
    color: #708090;
}
.pageswitch-icon-hidden {
    display: none;
}
#pageswitch-back-arrow {
    left: 4px;
    top: 14px;
}

.pageSwitchMenu {
    border: 1px solid red;
    padding: 0;
    text-align: left;
}
.pageSwitchMenu ul {
    padding: 0;
    margin: 0
}
.pageSwitchMenu li {
    padding: 10px;
    display: block;
}
.pageSwitchMenu li i {
    color: green;
    display: inline-block;
    width: 30px;
}
.pageSwitchMenu li:hover {
    background-color: red;
}

.hasAudio {
    color: #32cd32;
}

.pullDownMessage {
    text-align: center;
    padding: 30px;
}

.fullCurrentInfo {
    width: 100%;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.feedImage {
    width: 50%;
    max-width: 150px;
}

/* feedItemList */
.listItem {
    border-top: 1px solid #c0c0c0;
    height: 40px;
    font-size: 12px;
    padding: 3px;
    overflow: hidden;
}
.listItemTitle {
    line-height: 20px;
    vertical-align: top;
    font-weight: bold;
    display: inline-block;
    width: calc(100% - 50px);
    margin-left: 5px;
}
.feedItemTitle {
    display: block;
    font-weight: bold;
}
.feedItemContent {
    border-right: 1px solid #c0c0c0;
    margin-right: 50px;
    min-height: 40px;
}
.playButton {
    width: 50px;
    height: 100%;
    font-size: 20px;
    color: #c0c0c0;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    float: right;
}
.download-in-progress {
    overflow: hidden;
    position: relative;
    z-index: 10;
    vertical-align: top;
    color: #32cd32;
    height: 0;
    top: 10px;
    animation-duration: 2s;
    animation-name: animateDownload;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animateDownload {
    from {
        height: 0;
    }

    to {
        height: 19px;
    }
}

div {
    animation-duration: 0.1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#queueList, #scroller, #feedList {
    height: 100%;
}

.newFeedField {
    width: calc(100% - 60px);
    margin: 5px;
}

input {
    height: 24px;
}

/* form */
form.importForm {
    padding: 10px;
}
.importForm input {
    width: 300px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    margin: 5px 0;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.importForm input[type="submit"] {
    margin-top: 20px;
}
label {
    display: inline-block;
}



.feedData_tmp {
    display: inline-block;
    width: 50%;
}

.feedImageThumbnail {
    width:40px;
    display: block;
    float: left;
}

select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    height: 28px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    line-height: 28px;
}

.active {
    color: red;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
}

.warn {
    background-color: #ff8175;
}

.feedItemOptions {
    border-top: 1px solid #c0c0c0;
    background-image: linear-gradient(#F1EFE2 50%, #C0C0C0);
    background-color: #C0C0C0;
    font-size: 13px;
    display: table;
    width: 100%;
}

.feedItemOptions i {
    font-size: 16px;
}

.feedItemOptions a {
    display: table-cell;
    padding: 6px;
    border-right: 1px solid #c0c0c0;
    text-align: center;
}

.feedItemOptions a:last-child {
    border-right: none;
}

.title-slider {
    display: inline-block;
    animation: bounce-text 30s linear infinite;
    height: 20px;
    white-space:nowrap;
    text-align: left;
}

@keyframes bounce-text {
    0%  {
        transform: translateX(0);
    }
    10%  {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(190px - 100%));
    }
    55% {
        transform: translateX(calc(190px - 100%));
    }
    100% {
        transform: translateX(0);
    }
}

#currentInfo {
    width: 190px;
    margin-left: 60px;
    overflow: hidden;
    text-align: left;
}

.opml_url_input {
    width: 90%;
}

.proxy_url_input {
    width: calc(100% - 80px);
}