<div ng-if="isWebApp()">
    <!-- TODO: link to github wiki page explaining it -->
    <label for="proxyUrl">Proxy Url (<a href="#">More Info</a>)</label>

    <input id="proxyUrl" type="text" ng-model="proxyUrl" class="proxy_url_input" ng-required="isWebApp()" />
    <button ng-click="setProxyUrl(proxyUrl)">Save</button>
</div>

<button ng-click="downloadFiles()">Download Files</button>
<button ng-click="setAlarmTmp()">Set Alarm in 10 Seconds</button>
<button ng-click="checkForPendingMessage()">Check for pending Messages</button>
<button ng-click="deleteOldQueueItems()">Delete old Queue Items</button>

<div>
    Import OPML File<br />

    <input type="text" ng-model="opmlUrl" class="opml_url_input" />
    <button ng-click="importOpmlFromUrl()">Import OPML File</button>
    <!--
    File input fields don't work yet on FirefoxOS, see https://bugzilla.mozilla.org/show_bug.cgi?id=832923
    <input type="file" onchange="angular.element(this).scope().importOpmlFile(this)" />
    -->
</div>
<!--
<br />
List of ALarms
$scope.feeds
<table>
    <thead>
        <td>Type</td>
        <td>Date</td>
        <td>more?</td>
    </thead>
    <tr ng-repeat="alarm in alarms">
        <td>alarm.</td>
    </tr>
</table>
-->
