<div id="queueList" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div scroll>
        <div>
            <h1>{{ feed.title }}</h1>
            <h2>{{ feed.author }}</h2>
            <img blob="feed.image" class="feedImage" />
            <div style="display: inline-block; width: 50%">
                <a href="#">Delete Feed</a><br />
                Number of Items to keep in Queue
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option value="1000">all</option>
                    <option value="0">none</option>
                </select>
            </div>
            <h3>Description</h3>
            <div>
                {{ feed.summary }}
            </div>
            <h3>Episodes</h3>
            <div ng-repeat="item in feed.items | orderBy:'date'" class="listItem">
                <div class="playButton" style="width: 50px; float: right;">
                    <span ng-click="playItem(item.id)"><i ng-class="{hasAudio: item.audio}" class="icon-play"></i></span>
                </div>
                <div class="feedItemContent">
                    <span class="feedItemTitle">{{ item.title }}</span>
                    {{ item.date | timeAgo }}
                </div>
            </div>
        </div>
    </div>
</div>