<div id="queueList" xmlns="http://www.w3.org/1999/html" scroll>
    <div>
        <h1>{{ feed.title }}</h1>
        <h2>{{ feed.author }}</h2>
        <img blob="feed.image" class="feedImage" />
        <div class="feedData_tmp">
            <button ng-click="delete(feed.id)" class="warn"><i class="icon-trash"></i> Delete Feed</button><br />

            <!-- Number of Items to keep in Queue
            <select ng-model="feed.nrQueueItems" ng-options="nrQueueItemsOptions"></select> -->
        </div>
        <h3>Description</h3>
        <div>
            {{ feed.summary }}
        </div>
        <h3>Episodes</h3>
        <div ng-repeat="item in feed.items | orderBy:'date':reverse=true">
            <div class="listItem">
                <div class="playButton">
                    <span ng-click="playItem(item.id)"><i ng-class="{hasAudio: item.audio}" class="icon-play"></i></span>
                </div>
                <div class="feedItemContent" ng-click="showItemOptions(item.id)">
                    <span class="feedItemTitle">{{ item.title }}</span>
                    {{ item.date | timeAgo }}
                </div>
            </div>
            <div ng-show="item.showOptions" class="feedItemOptions">
                <a ng-hide="item.queued" ng-click="addToQueue(item.id)"><i class="icon-plus"></i> Add to Queue</a>
            </div>
        </div>
    </div>
</div>
