<div class="listItem">
    <div class="playButton" ng-click="playItem(item.id)">
        <span>
            <i ng-hide="downloading" ng-class="{hasAudio: item.audio}" class="fa fa-play play-button"></i>
            <i ng-show="downloading" class="download-in-progress fa fa-download"></i>
        </span>
    </div>
    <div class="feedItemContent" ng-click="showItemOptions()">
        <span class="feedItemTitle">{{ item.title }}</span>
        {{ item.date | timeAgo }}<span ng-show="item.duration">, {{ item.duration }}</span>
    </div>
</div>
<div ng-show="item.showOptions" class="feedItemOptions">
    <a ng-hide="item.queued" ng-click="addToQueue(item.id)"><i class="fa fa-fw fa-plus"></i> Add to Queue</a>
    <a ng-hide="item.audio" ng-click="downloadFile(item.id)"><i class="fa fa-fw fa-arrow-circle-o-down"></i> Download</a>
    <a ng-show="item.queued == 1" ng-click="keepInQueue(item.id)"><i class="fa fa-fw fa-thumb-tack"></i> Keep in Queue</a>
    <a ng-show="item.audio" ng-click="reDownloadFile(item.id)"><i class="fa fa-fw fa-arrow-circle-o-down"></i> Re-Download</a>
    <a ng-hide="hideShowFeedOption" ng-click="goToFeed(item.feedId)"><i class="fa fa-fw fa-list-ul"></i> Show Feed</a>
    <a ng-show="item.queued" ng-click="removeFromQueue(item.id)"><i class="fa fa-fw fa-times-circle-o"></i> Unqueue</a>
</div>