<div id="queueList" pull-to-refresh="pull-to-refresh">
    <div ng-repeat="feedItem in queue | orderBy:'date':reverse=true" class="listItem">
        <div class="playButton" ng-click="playItem(feedItem.id)">
            <span><i ng-class="{hasAudio: feedItem.audio}" class="icon-play"></i></span>
        </div>
        <div class="feedItemContent">
            <span class="feedItemTitle">{{ feedItem.title }}</span>
            {{ feedItem.date | timeAgo }}<span ng-show="feedItem.duration">, {{ feedItem.duration }}</span>
        </div>
    </div>
    <div ng-hide="queue.length" class="pullDownMessage">
        <i class="icon-arrow-down"></i> Pull down to refresh.
    </div>
</div>