<div id="feedList" scroll>
    <div>
        <form ng-submit="addFeed()">
            <input type="text" class="newFeedField" ng-model="newFeedUrl" placeholder="Add Feed" ng-blur="removePrefillIfNecessary()" ng-focus="preFillField()" /><input type="submit" value="Add" />
        </form>

        <div ng-repeat="feed in feeds | orderBy:'title'" class="listItem" ng-click="goToFeed(feed.id)">
            <img blob="feed.image" class="feedImageThumbnail" /> <span class="listItemTitle">{{ feed.title }}</span>
        </div>
    </div>
</div>