<label for="refreshInterval">Refresh Subscriptions:</label>
<select name="refreshInterval" id="refreshInterval" ng-change="changeInterval()" ng-model="settings.refreshInterval.value" ng-options="option.value as option.name for option in refreshIntervalOptions"></select>
<br />
<!--
<label for="downloadOnWifi">Only Download on Wi-Fi</label>
<input name="downloadOnWifi" type="checkbox" ng-change="changeDownloadOnWifi()" setting ng-model="settings.downloadOnWifi.value" />
-->
<!-- Store X Items Offline -->

<a href="#/dev">Developer Options</a>

<a href="#/info">About</a>