<!doctype html>
<html lang="en" ng-app="podcasts" ng-csp><!-- readd at some point: manifest="b2gPodcast.appcache" -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Podcast</title>
    <link rel="stylesheet" href="css/core.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
</head>
<body>
<!-- TODO: move topBar into it's own partial -->
<div class="topBar" ng-controller="TopBarCtrl" ng-swipe-left="jumpAudioForward()" ng-swipe-right="jumpAudioBack()">
    <div progress-bar progress-bar-current="audio.currentTime" progress-bar-duration="audio.duration"></div>
    <div id="pageSwitcher" class="topBarItem" hold="showPageSwitchMenu()" ng-click="changePage()">
        <i id="pageswitch-back-arrow" class="pageswitch-icon fa fa-chevron-left ng-cloak" ng-show="showBackLink()"></i>
        <i id="pageswitch-icon-settings" class="pageswitch-icon next fa fa-cogs"></i>
        <i id="pageswitch-icon-feeds" class="pageswitch-icon next1 fa fa-rss"></i>
        <i id="pageswitch-icon-queue" class="pageswitch-icon next2 fa fa-th-list"></i>
        <i id="pageswitch-icon-info" class="pageswitch-icon fa fa-info-circle" ng-show="showInfoIcon"></i>
    </div>
    <div id="controlButton" class="topBarItem topBarButton" ng-click="playPause()">
        <i class="fa fa-play" ng-class=""></i>
        <i class="fa fa-pause" ng-class=""></i>
    </div>
    <div ng-click="currentInfo()" class="topBarItem">
        <div id="currentInfo">
            <span class="title-slider">{{ nowPlaying.title }}</span>
            <span play-time="audio" />
        </div>
    </div>
    <div class="fullCurrentInfo topBarMenu" ng-show="showingFullCurrentInfo" ng-cloak>
        {{ nowPlaying.description }}
        {{ nowPlaying.date|date }}
    </div>
    <div class="pageSwitchMenu topBarMenu" ng-show="showingPageSwitchMenu" ng-cloak>
        <ul>
            <li ng-click="changePage('settings')" class="fa fa-cogs"> Settings</li>
            <li ng-click="changePage('feeds')" class="fa fa-rss"> Feeds</li>
            <li ng-click="changePage('queue')" class="fa fa-cogs"> Queue</li>
            <li ng-click="changePage('info')" class="fa fa-info-circle"> <span class="normalFont">App Info</span></li>
        </ul>
    </div>
</div>

<div ng-view class="main-container"></div>

<script src="lib/ixDbEz.js" type="text/javascript"></script>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-touch.js"></script>
<script src="lib/iscroll.js"></script>
<script src="js/alarmManagers.js"></script>
<script src="js/queueList.js"></script>
<script src="js/database.js"></script>
<script src="js/models.js"></script>
<script src="js/app.js"></script>
<script src="js/player.js"></script>
<script src="js/utilities.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>